.courses_section {
    background-color: #FCF5FE;
    padding: 2rem;
    margin-bottom: 2rem;
    margin-top: 4rem;
  }
  
  .courses_section h2 {
    color: #7a1fa2;
    font-size: 1.8rem;
    margin-bottom: 1rem;
  }
  
  .courses_section p {
    font-size: 1rem;
    color: #666;
    margin-bottom: 1.5rem;
  }
.div1{

    padding: 16px 28px 16px 28px;
    gap: 10px;
    border-radius: 30px;
    border: 1px solid;
    background-color: #F4D6F8;

    font-family: 'Poppins';
    font-size: 20px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: -0.02em;
    text-align: center;
    color:#992E9D;
    width: fit-content;
    margin: auto;
}
.div2{
  font-family: 'Poppins';
  font-size: 48px;
  font-weight: 700;
  line-height: 72px;
  letter-spacing: -0.03em;
  text-align: center;
}
.div2 strong{

  background: linear-gradient(to right, #B73BBE, #EBCB2E);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;

}

  